.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.popup-box {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
}