.sidebar {
    z-index: 1000;
    background-color: #21201E;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 210px;
    justify-content: space-between;
    padding: 0 20px 0 25px;
    box-shadow: 0 0 40px #6100c248;
   

}

.logo h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
}

.menu,
.menu-bottom {
    display: flex;
    flex-direction: column;
}

.menu a,
.menu-bottom a {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu a:hover,
.menu-bottom a:hover {
    color: #a855f7;
}

.menu-icons-top {
    margin-bottom: 80px;
}

