.navbar-two {
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    
    
}

.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.navigation-icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.img {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.search-input{
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}